@model Zenith.BLL.DTO.GetUserListDTO;

@{
    ViewData["Title"] = "Setting";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="py-2 mb-0 title">My Account <span></span></h1>
                </div>


                <div class="modal-dialog" style="width:100%;max-width:100%">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="viewMode">
                                <div class="row">
                                    <legend>General data</legend>
                                    <!-- Full Name -->
                                    <div class="form-gromy-2 col-md-6 my-2">
                                        <label>Full Name: </label>
                                        <span class="text-black-50">@Model.FullName</span>
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Email: </label>
                                        <span class="text-black-50">@Model.Email</span>
                                    </div>

                                    <!-- Role/Position -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Role: </label>
                                        <span class="text-black-50">@Model.RoleName</span>
                                    </div>

                                    <!-- Reporting Manager -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Reporting Manager: </label>
                                        <span class="text-black-50">
                                            @if (Model.ReportingManager != null)
                                            {
                                                @Model.ReportingManager.FullName
                                            }
                                        </span>
                                    </div>


                                    <!-- Mobile Number -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Mobile Number: </label>
                                        <span class="text-black-50">@Model.PhoneNumber</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-dialog" style="width:100%;max-width:100%">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="passwordChangeForm">
                                <legend>Vacation Request</legend>
                                <div class="mt-4">
                                    <label for="fromDate" class="form-label">From Date</label>
                                    <input type="date" id="VCFromDate" class="form-control" placeholder="Current password">
                                    <span class="text-danger" id="VCFromDateErrorMsg" style="display:none">This field is required</span>
                                </div>
                                <div class="my-3">
                                    <label for="toDate" class="form-label">To Date</label>
                                    <input type="date" id="VCToDate" class="form-control" placeholder="New password">
                                    <span class="text-danger" id="VCToDateErrorMsg" style="display:none">This field is required</span>
                                </div>
                                <span class="text-danger" id="ValidationErrorMsg"></span>
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" onclick="SubmitVacationRequests()">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal-dialog" style="width:100%;max-width:100%">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="passwordChangeForm">
                                <legend>Change your password</legend>
                                <div class="mt-4">
                                    <label for="currentPassword" class="form-label">Current password</label>
                                    <input type="text" id="currentPassword" class="form-control" placeholder="Current password">
                                </div>
                                <div class="my-3">
                                    <label for="newPassword" class="form-label">New password</label>
                                    <input type="text" id="newPassword" class="form-control" placeholder="New password">
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Confirm password</label>
                                    <input type="text" id="confirmPassword" class="form-control" placeholder="Confirm password">
                                </div>
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" onclick="changePassowrd()">Change password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="profile" class="">
                    <div class="d-flex align-items-center">
                        <div class="d-flex">
                            <input type="date" id="FilterFromDate" class="form-control" placeholder="Current password">
                            <input type="date" id="FilterToDate" class="form-control" placeholder="New password">
                            <input type="button" class="btn btn-primary ms-3" onclick="SearchFilterVacationRequests()" value="Search" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">

                            <div id="divVacationRequestsApprovalList" class="overflow-auto">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        bindVacationRequestsApprovalList();
    });

    function deleteRoleById(Id) {
        $.ajax({
            url: '/AppRoles/DeleteById',
            type: 'GET',
            data: { roleID: Id },
            success: function (resultData) {
                window.location.reload();
            }
        });
    }

    function changePassowrd() {
        var currentPassword = $("#currentPassword").val();
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();

        if (newPassword === confirmPassword) {
            $.ajax({
                url: '/Setting/ChangePassword',
                type: 'POST',
                data: { currentPassword: currentPassword, newPassword: confirmPassword },
                success: function (result) {
                    if (result == "Current password is incorrect") {
                        window.alert(result)
                    } else {
                        window.alert(result)
                        window.location.reload();
                    }
                }
            });
        } else {
            window.alert("password not match");
        }
    }

    function SubmitVacationRequests() {
        const errorMessage = document.getElementById('ValidationErrorMsg');
        errorMessage.textContent = '';

        let startDate = $("#VCFromDate").val();
        let endDate = $("#VCToDate").val();

        if (startDate == null || startDate == "") {
            $("#VCFromDateErrorMsg").show();
            return false;
        }else{
            $("#VCFromDateErrorMsg").hide();
        }   

        if (endDate == null || endDate == "") {
            $("#VCToDateErrorMsg").show();
            return false;
        }else{
            $("#VCToDateErrorMsg").hide();
        }

        const fromDate = new Date(startDate);
        const toDate = new Date(endDate);
     

        // Perform validation
        if (fromDate > toDate) {
            errorMessage.textContent = '"From Date" should not be greater than "To Date".';
            return false;
        }

        let today = new Date();
        today.setHours(0, 0, 0, 0);

        if (fromDate < today) {
            errorMessage.textContent = "The selected date is in the past.";
            return false;
        } 

        $.ajax({
            url: '/Setting/AddVacationRequests',
            type: 'POST',
            data: {
                StartDate: startDate,
                EndDate: endDate,
            },
            success: function (resp) {
                if (resp == -2) {
                    Swal.fire({
                        icon: 'warning',        // Icon for success message
                        title: 'Warning!',      // Title of the message
                        text: 'Your vacation request declined due to the Overlapping dates!',  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 15000,            // Optional: auto-close after 1.5 seconds
                    });
                } else if (resp > 0) {
                    Swal.fire({
                        icon: 'success',        // Icon for success message
                        title: 'Success!',      // Title of the message
                        text: 'Your vacation requst is submitted successfully!',  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 1500,            // Optional: auto-close after 1.5 seconds
                    });
                    // window.location.reload();
                    let startDate = $("#VCFromDate").val('');
                    let endDate = $("#VCToDate").val('');
                    bindVacationRequestsApprovalList();
                }else{
                    Swal.fire({
                        icon: 'error',        // Icon for success message
                        title: 'Failed!',      // Title of the message
                        text: 'Something went wrong!',  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 15000,            // Optional: auto-close after 1.5 seconds
                    });
                }

            }, error: function (jqXHR, textStatus, errorThrown) {
                // Handle error
                Swal.fire({
                    icon: 'error',
                    title: 'Request Failed',
                    text: 'An error occurred while processing your request. Please try again later.',
                    footer: '<a href="">Contact support if the issue persists</a>'  // Optional footer
                });
            }
        });
    }

    function SearchFilterVacationRequests() {
        let startDate = $("#FilterFromDate").val();
        let endDate = $("#FilterToDate").val();
        $.ajax({
            url: '/Setting/_VacationRequestsApprovalListPartialView',
            type: 'GET',
            data: { filterStartDate: startDate, filterEndDate: endDate },
            success: function (result) {
                $("#divVacationRequestsApprovalList").html(result);
            }
        });
    }


    function bindVacationRequestsApprovalList() {
        $.ajax({
            url: '/Setting/_VacationRequestsApprovalListPartialView',
            type: 'GET',
            data: { filterStartDate: null, filterEndDate: null },
            success: function (result) {
                $("#divVacationRequestsApprovalList").html(result);
            }
        });
    }

</script>

