@model IEnumerable<Zenith.BLL.DTO.GetVendorsListDTO>

    <style>
    .reasonSelectContainer.disable {
        pointer-events: none; /* Disable interaction */
        opacity: 0.5; /* Make it appear disabled */
        background-color: #f0f0f0; /* Optionally change the background to simulate a disabled state */
    }
    </style>

<table class="table table-bordered" style="width:128%">
    <thead class="bg-primary text-white text-center text-nowrap">
        <tr>
            <th><input type="checkbox" id="parntUserReqChkbxId" onchange="selectAllChkbxChangeEvent(this,'actionVendorCheckboxes')" /></th>
            <th><b>Approval Type</b></th>
            <th><b>Vendor Request No.</b></th>
            <th><b>Supplier Name</b></th>
            <th><b>Supplier Country</b></th>
            <th><b>Created By</b></th>
            <th><b>Created On</b></th>
            <th><b>Work Status</b></th>
            <th><b>Request Status</b></th>
            <th><b>Approval</b></th>
            <th><b>Rejected Reason</b></th>
            <th><b>Comments</b></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            @foreach (var vendor in Model)
            {
                string disableRowClass = vendor.IsDelgateRequested ? "disabled-row" : "";
                <tr class="@disableRowClass">
                    <td class="text-right">
                        @if (!vendor.IsDelgateRequested)
                        {
                            <input type="checkbox" VendorId="@vendor.Id" onchange="checkParentCheckbox('parntUserReqChkbxId','actionVendorCheckboxes')" class="actionVendorCheckboxes" />
                        }
                        
                    </td>
                    <td class="text-right">VIR</td>

                    <td class="text-center">
                        <a title="View" target="_blank" class="nav-link" asp-controller="Workbench" asp-action="VendorViewTemplate" asp-route-VendorsInitializationFormId="@vendor.Id">
                            @vendor.RequestNum
                        </a>
                    </td>
                    <td class="text-center">@vendor.SupplierName</td>
                    <td class="text-center">@vendor.DropdownValues_SupplierCountry?.Value</td>
                    <td class="text-center">@vendor.ApplicationUser_CreatedBy?.UserName</td>
                    <td class="text-center">@vendor.CreatedOn.ToString("yyyy/MM/dd")</td>
                    <td class="text-center">
                        @if (vendor.IsDelgateRequested)
                        {
                            @vendor.WorkStatus
                        }
                        else 
                        {
                            <select id="workStatusDropdown" name="workStatus" class="form-control" onchange="onWorkStatusChange('@vendor.Id',this)">
                                @if (ViewBag.WorkStatus != null)
                                {
                                    @foreach (var status in ViewBag.WorkStatus)
                                    {
                                        <option value="@status.Id" selected="@(vendor.WorkStatus == @status.Value)">@status.Value</option>
                                    }
                                }
                            </select>
                        }
                    </td>
                    <td class="text-center">@vendor.DropdownValues_Status?.Value</td>
                    <td>
                        @if (vendor.IsApproved)
                        {
                            <div class="text-success text-center">Approved</div>
                        }
                        else if (!vendor.IsApproved && vendor.DropdownValues_RejectionReason != null)
                        {
                            <div class="text-danger text-center">Rejected</div>
                        }
                        else if (!vendor.IsDelgateRequested)
                        {
                            <div class="statusContainer text-center" data-vendor-id="@vendor.Id">
                                <button type="button" class="btn btn-success approve-btn" onclick="changeStatus('@vendor.Id', 'true')">Approve</button>
                                <button type="button" class="btn btn-danger reject-btn" onclick="showRejectContainer('@vendor.Id')">Reject</button>
                            </div>
                        }
                    </td>
                    <td>
                        @if (!vendor.IsApproved && vendor.DropdownValues_RejectionReason != null)
                        {
                            <div class="text-center">
                                @vendor.DropdownValues_RejectionReason?.Value
                            </div>
                        }
                        else
                        {
                            <div style="display:none"  class="form-group divRejectReasonDDL_@vendor.Id">
                                <select onchange="onChangeRejectReasonDDLEvent('@vendor.Id')" class="form-select w-100 reasonSelectContainer reasonSelectContainer_@vendor.Id">
                                    @if (ViewBag.rejectreason != null)
                                    {
                                        <option value="" selected>Select</option>
                                        foreach (var reason in ViewBag.rejectreason.Values)
                                        {
                                            <option value="@reason.Id">@reason.Value</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                            
                    </td>
                    <td>
                            <div class="form-group">
                                <textarea type="text" placeholder="Comment.." class="form-control comment_@vendor.Id"
                                      onblur="changeStatus('@vendor.Id', 'comment', null)">
                                @vendor.Comments
                                </textarea>
                            </div>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>

</table>
