@model IEnumerable<Zenith.BLL.DTO.GetVendorsListDTO>

<style>
    .fail-req {
    background-color: red !important; /* Dark Red */
    color: white !important;
    }

    .fail-req a {
    color: white !important;
    text-decoration: none;
    }

    .fail-req a:hover {
    text-decoration: underline;
    }

    .gray-line {
    background-color: #f0f0f0; /* Light gray background */
    color: #333333; /* Darker text color for contrast */
    }

</style>

<table class="table table-bordered" style="width:128%;">
    <thead class="bg-primary text-white text-center text-nowrap">
        <tr>
            <th><b>Approval Type</b></th>
            <th><b>Vendor Req No.</b></th>
            <th><b>Supplier Name</b></th>
            <th><b>Registered Country</b></th>
            <th><b>Created By</b></th>
            <th><b>Work Status</b></th>
            <th><b>Created On</b></th>
            <th><b>Request Status</b></th>
            <th><b>Assigned User</b></th>
            <th><b>First Approver Name</b></th>
            <th><b>Request Status Description</b></th>
            <th><b>Reject Reason</b></th>
            <th><b>Comments</b></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            @foreach (var vendor in Model)
            {
                string rowClass = vendor.RequestStatusCode == "WAF" ? "fail-req" : "";
                string vIRCancelDTDuplicate = vendor.RequestStatusCode == "VIRCANDTDUPLI" ? "gray-line" : "";
                string finalRowClass = string.IsNullOrEmpty(rowClass) ? vIRCancelDTDuplicate : rowClass;

                <tr class="@finalRowClass">
                    <td class="text-right"><b>VIR</b></td>
                    <td class="text-center">
                        <a title="View" target="_blank" class="nav-link" asp-controller="Vendors" asp-action="VendorViewTemplate" asp-route-VendorsInitializationFormId="@vendor.Id">
                            @vendor.RequestNum
                        </a>
                    </td>
                    <td class="text-center">@vendor.SupplierName</td>
                    <td class="text-center">@vendor.SupplierCountry</td>
                    <td class="text-center">@vendor.CreatedByName</td>
                    @if (vendor.RequestStatusCode == "VIRRJCTD" || vendor.WorkStatusCode == "VIRAPRVD")
                    {
                        <td class="text-center">
                           Completed
                        </td>
                        
                    }else {
                        <td class="text-center">@vendor.WorkStatus</td>
                    }
                    <td class="text-center">@vendor.CreatedOn.ToString("yyyy/MM/dd")</td>
                    <td>
                        <div class=" text-center">@vendor.RequestStatus</div>
                    </td>
                    @if (vendor.RequestStatusCode != "WAF")
                    {
                        <td class="text-center">@vendor.AssignUser</td>
                    }
                    else
                    {
                        <td class="text-center"> </td>
                    }
                    <td class="text-center">@vendor.FirstApproverName</td>
                    <td>
                        @vendor.RequestStatusDescription
                    </td>
                    <td class="text-center">@vendor.RejectionReason</td>
                    <td class="text-center">@vendor.Comments</td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>


