@model IEnumerable<Zenith.BLL.DTO.GetVendorsListDTO>

 
@{
    ViewData["Title"] = "Vendor";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title"><span> Vendors</span></h1>
                    <div>
                        <a class="btn btn-light" asp-action="AddVendor" asp-controller="Vendors">Add Vendor</a>
                        <a class="btn btn-light" asp-action="DownloadExcelFile" asp-controller="Vendors">Download Vendor Form</a>
                    </div>           
                </div>
               <div class="w-100 ms-auto py-3 d-flex justify-content-end">
                    <div class="col-md-5 d-flex align-items-center justify-content-end">
                        <input type="file" class="form-control w-50 me-2" id="fileInput" />
                        <button id="uploadButton" class="btn btn-primary">Upload Excel</button>
                    </div>
               </div>
                <div class="d-flex justify-content-end">
                    <select class="form-select me-3" style="width:200px;" id="fieldNameId">
                        <option selected>Select to search</option>
                        <option value="supplierCode">Supplier Code</option>
                        <option value="name">Name</option>
                    </select>
                    <input type="search" class="form-control" id="searchInputId" placeholder="Search here" style="width:250px;" />
                    <input type="button" class="btn btn-primary ms-3" onclick="searchVendor()" value="Search" />
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary text-white text-center text-nowrap">
                                <tr>
                                    <th><b>SNo.</b></th>
                                    <th><b>Supplier code</b></th>
                                    <th><b>Full Name</b></th>
                                    <th><b>Supplier Cateogry</b></th>
                                    <th><b>Supplier Scope</b></th>
                                    <th><b>Website</b></th>
                                    <th><b>Status</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                                                            @foreach (var vendor in Model)
                                    {
                                                            <tr>
                                                                <td class="text-right"><b>@index</b></td>
                                                                <td class="text-center">
                                                                    <a title="View" class="nav-link" asp-controller="Vendors" asp-action="VendorViewTemplate" asp-route-VendorsInitializationFormId="@vendor.Id">
                                                                        @vendor.RequestNum
                                                                    </a>
                                                                </td>
                                                                <td class="text-center">@vendor.SupplierName</td>
                                                                <td class="text-center">@vendor.DropdownValues_SupplierType?.Value</td>
                                                                <td class="text-center">@vendor.Scope</td>
                                                                <td class="text-center">@vendor.Website</td>
                                                                <td>
                                                                @if (vendor.IsApproved)
                                                                    {
                                                    <div class="text-success text-center">Approved</div>
                                                }
                                                else if (!vendor.IsApproved && vendor.DropdownValues_RejectionReason != null)
                                                {
                                                    <div class="text-danger text-center">Reject</div>
                                                }
                                                else
                                                                    {
                                                                        <div class="statusContainer" data-vendor-id="@vendor.Id">
                                                                            <button type="button" class="btn btn-success approve-btn" onclick="changeStatus('@vendor.Id', 'true')">Approve</button>
                                                                            <button type="button" class="btn btn-danger reject-btn" onclick="showRejectContainer('@vendor.Id')">Reject</button>
                                                                        </div>
                                                                        <div class="rejectContainer" data-vendor-id="@vendor.Id" style="display:none;">
                                                                            <label for="supplierScopeId">Select reason</label>
                                                                            <select class="form-control mt-2 w-100" id="reasonSelectContainer">
                                                                            </select>
                                                                       
                                                                            <div class="text-center mt-2">
                                                                                <button type="button" class="btn btn-success" onclick="changeStatus('@vendor.Id','false')">Submit</button>
                                                                                <button type="button" class="btn btn-light" onclick="cancelReject('@vendor.Id')">Cancel</button>
                                                                            </div>
                                                                        </div>
                                                                     }
                                                                </td>
                                                                <td class="text-center">
                                                                    <a title="View" class="btn btn-dark" asp-controller="Vendors" asp-action="VendorViewTemplate" asp-route-VendorsInitializationFormId="@vendor.Id">
                                                                        <i class="fas fa-eye"></i>
                                                                    </a>
                                                                    <a title="Edit" class="btn btn-primary" asp-controller="Vendors" asp-action="VendorDetails" asp-route-VendorsInitializationFormId="@vendor.Id">
                                                                        <i class="fas fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Vendor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="Vendors/AddVendor" method="post">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="form-group mb-2">
                                <label>Name</label>
                                <input type="text" class="form-control mt-2" name="FullName" placeholder="Joun" />
                            </div>
                            <div class="form-group mb-2 ">
                                <label>Website</label>
                                <input type="text" class="form-control mt-2" name="Website" placeholder="www.example.com" />
                            </div>
                            <div class="form-group mb-2" id="supplierCategoryContainer">
                               
                            </div>
                            <div class="form-group mb-2" id="SupplierScopeContainer">
  
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    getReasons();

   function getReasons(){
        let reasonSelectContainer = $("#reasonSelectContainer");
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "REJECTREASON" },
            success: function (res) {
                let data = `
                              ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                        `;
                reasonSelectContainer.append(data);
            }
        });
   }

    $(".rejectContainer").hide();

    $('#uploadButton').click(function () {
        var fileInput = $('#fileInput')[0].files[0];

        if (!fileInput) {
            alert("Please select a file first.");
            return;
        }

        var formData = new FormData();
        formData.append("file", fileInput);

        $.ajax({
            url: "/Vendors/NewVendorUploadExcel",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // Display a popup message with success and failure counts
                let message = `${response.successCount} Vendors uploaded successfully.`;
                if (response.failureCount > 0) {
                    message += ` ${response.failureCount} failed. Please see the downloaded file for details.`;
                    // Trigger download if there were failures
                    var link = document.createElement('a');
                    link.href = response.fileUrl;
                    link.download = "InvalidRecords.xlsx";
                    link.click();
                }
                alert(message); // Or use a custom popup method
            },
            error: function (xhr, status, error) {
                console.error("Error uploading file:", error);
            }
        });
    });

    function changeStatus(Id,msg){
        var isApprovedCheck = false;
        var rejectionReasonId = null;
        if (msg == 'true') {
            isApprovedCheck = true;
        } else {
            rejectionReasonId = $("#reasonSelectContainer").val();
        }

        $.ajax({
            url: '/Vendors/UpdateVendor',
            type: 'POST',
            data: {
                VendorsInitializationFormId: Id,
                isApproved: isApprovedCheck,
                rejectionReasonId : rejectionReasonId
            },
            success: function (resp) {
                Swal.fire({
                    title: 'Staus changed',
                    text: "Vendor successfully approved",
                    type: 'success',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.value) {
                        window.location.reload();
                    }
                })
            }
        });
    }

    function showRejectContainer(vendorId) {
        $(".statusContainer").show();
        $(".rejectContainer").hide();

        $("div.statusContainer[data-vendor-id='" + vendorId + "']").hide();
        $("div.rejectContainer[data-vendor-id='" + vendorId + "']").show();
    }

    function cancelReject(vendorId) {
        $("div.statusContainer[data-vendor-id='" + vendorId + "']").show();
        $("div.rejectContainer[data-vendor-id='" + vendorId + "']").hide();
    }

    function searchVendor() {
        var fieldName = $("fieldNameId").val();
        var searchText = $("searchInputId").val();
        $.ajax({
            url: '/Vendors/searchVendorList',
            type: 'POST',
            data: { fieldName: fieldName, searchText: searchText },
            success: function (result) {
                console.log(result);
            }
        });
    }

</script>

