@* @model IEnumerable<Microsoft.AspNetCore.Identity.ApplicationUser> *@
@{
    ViewData["Title"] = "User Management";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title">User <span> Management</span></h1>
                    <button class="btn btn-outline-info text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New User</button>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="search" class="form-control" placeholder="Search here" style="width:250px;" />
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary text-white text-center text-nowrap">
                                <tr>
                                    <th><b>SNo.</b></th>
                                    <th><b>UserName</b></th>
                                    <th><b>Phone Number</b></th>
                                    <th><b>Email Confirm</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                                @foreach (var user in Model)
                                    {
                                                    <tr>
                                                        <td class="text-center"><b>@index</b></td>
                                                        <td class="text-center">@user.UserName</td>
                                                        <td class="text-center">@user.PhoneNumber</td>
                                                        <td class="text-center">
                                                             @if (user.EmailConfirmed)
                                                            {
                                                               <span class="text-success">Approved</span>
                                                            }
                                                            else
                                                            {
                                                               <span class="text-danger">Not Approved</span>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <a title="View" class="btn btn-dark" onclick="GetUserById('@user.Id');" data-bs-toggle="modal" data-bs-target="#viewModal">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            <a title="Edit" class="btn btn-primary" onclick="GetUserById('@user.Id');" data-bs-toggle="modal" data-bs-target="#editModal">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                          
                                                        </td>
                                                    </tr>
                                        index++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @* Modal *@

<!-- Add User -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="email" class="form-control mt-2 userName" name="Username" placeholder="example@gmail.com"/>
                            </div>
                            <div class="form-group my-2">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control mt-2 phoneNumber" name="PhoneNumber" placeholder="123-456-7890" />
                            </div>
                            <div class="form-group">
                                <label>Department</label>
                                <select class="form-control mt-2 departmentContainer">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Position</label>
                                <select class="form-control mt-2 positionContainer">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-control mt-2 roleSelect" name="Role">
                                </select>
                            </div>
                        </div>                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addUser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- View User -> User detail Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">View details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content will be populated here -->
            </div>
        </div>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="eidtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eidtModalLabel">Edit User details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    getDepartmentList();
    getPositionList();
    GetRols();

    function getDepartmentList() {
        let departmentContainer = $(".departmentContainer");
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "DEPARTMENTS" },
            success: function (res) {
                let data = `
                          ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                    `;
                departmentContainer.append(data);
            }
        });
    }

    function getPositionList() {
        let positionContainer = $(".positionContainer");
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "POSITIONS" },
            success: function (res) {
                let data = `
                              ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                        `;
                positionContainer.append(data);
            }
        });
    }

    function GetRols() {
        //let roleSelect = $('.roleSelect').empty();
        let roleSelect = $('.roleSelect');
        $.ajax({
            url: '/AppRoles/GetRoles',
            type: 'GET',
            dataType: "json",
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    roleSelect.append(`<option value='${response[i].id}'>${response[i].name}</option>`);
                }
            }
        });
    }

    //User detail - GetUserById
    function GetUserById(Id) {
        //GetRols()
        $.ajax({
            url: '/User/GetUserById',
            type: 'GET',
            data: { userId: Id },
            success: function (resultData) {
                const modalBody = `
                    <p><strong>Username:</strong> ${resultData.userName}</p>
                    <p><strong>Email:</strong> ${resultData.email}</p>
                    <p><strong>Phone Number:</strong> ${resultData.phoneNumber}</p>
                    <p><strong>Approved:</strong> ${resultData.isApproved ? '<span class="text-success">Approved</span>' : '<span class="text-danger">Not Approved</span>'}</p>
                `;
                editDetail(resultData);
                $('#viewModal .modal-body').html(modalBody);
            }
        });
    }

    function editDetail(result) {
         const modalBody = `
                    <form id='editFormValues'>
                        <input type="hidden" name="userId" id="userId" value='${result.id}' />
                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="email" class="form-control mt-2" name="Username" id="userName" value='${result.userName}' placeholder="example@gmail.com" />
                                </div>
                                <div class="form-group my-2">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control mt-2" name="PhoneNumber" id="phoneNumber" value="${result.phoneNumber}" placeholder="123-456-7890" />
                                </div>
                                <div class="form-group my-2">
                                    <label>Role</label>
                                            <select class="form-control mt-2 roleSelect"  name="Role">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="updateUser();">Submit</button>
                        </div>
                    </form>
                `;
                $('#editModal .modal-body').html(modalBody);
    }

    //Update user funtion
    function addUser() {
        let id = $('#addForm .userId').val();
        let userName = $('#addForm .userName').val();
        let phoneNumber = $('#addForm .phoneNumber').val();
        let departmentId = $('#addForm .departmentContainer').val();
        let positionId = $('#addForm .positionContainer').val();
        let roleId = $('#addForm .roleSelect').val();
        $.ajax({
            url: '/User/AddNewUser',
            type: 'POST',
            data: { userName: userName, phoneNumber: phoneNumber, DepartmentId : departmentId, positionId : positionId },
            success: function (resp) {
                window.location.reload();
            }
        });
    }

</script>