@model IEnumerable<Zenith.BLL.DTO.GetUserListDTO>
@{
    ViewData["Title"] = "User Management";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }

    .btn-delete {
        background-color: #e74c3c; /* Red background */
        color: #fff; /* White text */
        font-weight: bold;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    }

        .btn-delete:hover {
            background-color: #c0392b; /* Darker red on hover */
            transform: scale(1.05); /* Slight scale up on hover */
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* More shadow on hover */
        }

        .btn-delete:active {
            background-color: #a93226; /* Even darker red on click */
            transform: scale(0.98); /* Scale down on click */
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title">User <span> Management</span></h1>
                    <div>
                        <button class="btn btn-outline-info text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus"></i> Add New User</button>
                        <button class="btn btn-delete" onclick="deleteSelectedUsers()">Delete User</button>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="search" class="form-control" placeholder="Search here" style="width:250px;" />
                </div>
                <div class="mt-3" style="overflow:auto;height:590px">
                    <table class="table table-striped table-bordered" style="width:125%">
                        <thead class="bg-primary text-white text-center text-nowrap">
                            <tr>
                                <th><input type="checkbox" onchange="selectAllChkbxChangeEvent(this)" /></th>
                                <th><b>User Code</b></th>
                                <th><b>Full Name</b></th>
                                <th><b>Email</b></th>
                                <th><b>Role</b></th>
                                <th><b>Reporting manager</b></th>
                                <th><b>Branch</b></th>
                                <th><b>Department</b></th>
                                <th><b>Country</b></th>
                                <th><b>Mobile Number</b></th>
                                <th><b>Active Status</b></th>
                                <th><b>Vocation Mode On</b></th>
                                <th><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td class="text-right">
                                            <input type="checkbox" UserId="@user.Id" class="actionCheckboxes" />
                                        </td>
                                        <td class="text-center">
                                            <a title="View" target="_blank" class="nav-link" asp-controller="User" asp-action="UserViewTemplate" asp-route-UserId="@user.Id">
                                                @user.UserCode
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a title="View" target="_blank" class="nav-link" asp-controller="User" asp-action="UserViewTemplate" asp-route-UserId="@user.Id">
                                                @user.FullName
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a title="View" target="_blank" class="nav-link" asp-controller="User" asp-action="UserViewTemplate" asp-route-UserId="@user.Id">
                                                @user.Email
                                            </a>
                                        </td>
                                        <td class="text-center">
                                                @user.RoleName
                                        </td>
                                        <td class="text-center">
                                            @if (@user.ReportingManager != null)
                                            {
                                                @user.ReportingManager.FullName
                                            }
                                        </td>
                                        <td class="text-center">@user.Branch?.Value</td>
                                        <td class="text-center">@user.DropdownValues_Department?.Value</td>
                                        <td class="text-center">@user.Country?.Value</td>
                                        <td class="text-center">@user.PhoneNumber</td>
                                        <td class="text-center">
                                            @if (user.IsActive)
                                            {
                                                <input type="checkbox" disabled checked onchange="changeActive(event, '@user.Id')" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled onchange="changeActive(event, '@user.Id')" />
                                            }
                                        </td>
                                        <td class="text-center">@(user.IsVocationModeOn ? "Yes" : "No")</td>
                                        <td class="text-center">
                                            <div class="dropdown me-1">
                                                <span data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </span>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a title="View" target="_blank" class="dropdown-item pe-auto" asp-controller="User" asp-action="UserViewTemplate" asp-route-UserId="@user.Id">
                                                            <i class="fas fa-eye text-primary"></i> View
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal *@

<!-- Add User -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:100%;max-width:768px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post">
                    <div class="row">
                        <div class="form-group col-md-6 mt-2">
                            <label>Full Name <span class="text-danger fw-bold">*</span></label>
                            <input type="text" onblur="validateForm(this.value,true,'requiredFullName')" class="form-control mt-2 fullName" name="FullName" placeholder="Dawn C. Carlson" />
                            <span class="text-danger" id="requiredFullName" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Email <span class="text-danger fw-bold">*</span></label>
                            <input type="email" onblur="isValidEmail(this.value,true,'invalidErrorMessage')" class="form-control mt-2 userName" name="Username" placeholder="example@gmail.com" />
                            <span class="text-danger" id="invalidErrorMessage" style="display:none">Please enter valid email</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Role/Position <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 roleSelect" name="Role" onblur="validateForm(this.value,true,'requiredRole')">
                            </select>
                            <span class="text-danger" id="requiredRole" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Reporting Manager <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 reportingManagerContainer" onblur="validateForm(this.value,true,'reportingManagerSelect')" name="Role">
                                @if (ViewBag.ReportingManagerList != null)
                                {
                                    <option value="" selected>Select</option>
                                    foreach (var c in ViewBag.ReportingManagerList)
                                    {
                                        <option value="@c.Id">@c.Email</option>
                                    }
                                }
                            </select>
                            <span class="text-danger" id="reportingManagerSelect" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Branch <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 branchContainer" name="Role" onblur="validateForm(this.value,true,'branchSelect')">
                            </select>
                            <span class="text-danger" id="branchSelect" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Department <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 departmentContainer" onblur="validateForm(this.value,true,'departmentSelect')">
                            </select>
                            <span class="text-danger" id="departmentSelect" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Country <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 CountryContainer" onblur="validateForm(this.value,true,'countrySelect')">
                            </select>
                            <span class="text-danger" id="countrySelect" style="display:none">This field is required</span>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label>Mobile Number <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control mt-2 phoneNumber" onblur="validateForm(this.value,true,'mobileSelect')" name="PhoneNumber" placeholder="123-456-7890" />
                            <span class="text-danger" id="mobileSelect" style="display:none">This field is required</span>
                        </div>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-primary" onclick="addUser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/common.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    getDepartmentList();
    getRols();
    getAllBranch();
    getCountryList();
    // getReportingMangers()

    function getDepartmentList() {
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "DEPARTMENTS" },
            success: function (res) {
                let data = `
                              <option value=''>Select</option>
                              ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                        `;
                $(".departmentContainer").append(data);
            }
        });
    }

    function getAllBranch() {
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "BRANCH" },
            success: function (res) {
                let data = `
                                  <option value=''>Select</option>
                                  ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                            `;
                $(".branchContainer").append(data);
            }
        });
    }

    function getRols() {
        $.ajax({
            url: '/AppRoles/GetRoles',
            type: 'GET',
            dataType: "json",
            success: function (res) {
                let data = `
                                   <option value=''>Select</option>
                                   ${res.map(option => `<option value='${option.id}'>${option.name}</option>`)}
                                `;
                $('.roleSelect').append(data);
            }
        });
    }

    function getReportingMangers() {
        $.ajax({
            url: '/User/GetReportingManagers',
            type: 'GET',
            dataType: "json",
            success: function (res) {
                let data = `
                                    <option value=''>Select</option>
                                    ${res.map(option => `<option value='${option.id}'>${option.email}</option>`)}
                               `;
                $(".reportingManagerContainer").append(data);
            }
        });
    }

    function getCountryList() {
        let SupplierCountryContainer = $("#SupplierCountryContainer");
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "COUNTRY" },
            success: function (res) {
                let data = `
                                      <option value='' selected>Select</option>
                                      ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                                `;
                $(".CountryContainer").append(data);
            }
        });
    }

    //Update user funtion
    function addUser() {

        let id = $('#addForm .userId').val();
        let fullName = $('#addForm .fullName').val();
        let userName = $('#addForm .userName').val();
        let phoneNumber = $('#addForm .phoneNumber').val();
        let departmentId = $('#addForm .departmentContainer').val();
        let branchId = $('#addForm .branchContainer').val();
        let reportingManagerId = $('#addForm .reportingManagerContainer').val();
        let countryId = $('#addForm .CountryContainer').val();
        let roleId = $('#addForm .roleSelect').val();

        if ((!validateForm(fullName, true, 'requiredFullName')) || (!isValidEmail(userName, true, 'invalidErrorMessage')) || (!validateForm(roleId, true, 'requiredRole')) || (!validateForm(reportingManagerId, true, 'reportingManagerSelect')) || (!validateForm(branchId, true, 'branchSelect')) || (!validateForm(departmentId, true, 'departmentSelect'))
            || (!validateForm(countryId, true, 'countrySelect')) || (!validateForm(phoneNumber, true, 'mobileSelect')))
            return false;


        $.ajax({
            url: '/User/AddNewUser',
            type: 'POST',
            data: {
                fullName: fullName,
                userName: userName,
                phoneNumber: phoneNumber,
                departmentId: departmentId,
                branchId: branchId,
                reportingManagerId: reportingManagerId,
                countryId: countryId,
                roleId: roleId
            },
            success: function (resp) {
                window.location.reload();
            }
        });
    }

    function changeActive(event, userId) {
        const isCheck = event.target.checked;
        updateUser(isCheck, userId);
    }

    function updateUser(isCheck, userId) {
        $.ajax({
            url: '/User/UpdateUserActiveInactive',
            type: 'POST',
            data: {
                UserId: userId,
                isActive: isCheck
            },
            success: function (response) {

                let message = "";
                let icon = "";
                let title = "";
                let showMessage = false;
                switch (action) {
                    case -1:
                        message = "Something went wrong";
                        icon = "error";
                        showMessage = true;
                        break;

                    case 1:
                        message = "Other users are reporting to this user you are trying to delete.";
                        icon = "warning";
                        showMessage = true;
                        break;

                    case 2:
                        message = "Updated successfully!";
                        icon = "success";
                        showMessage = true;
                        break;

                    default:
                        // Code to execute if action doesn't match any case
                        break;
                }
                if (showMessage) {
                    Swal.fire({
                        icon: icon,        // Icon for success message
                        text: message,  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 5000,
                    });
                }

            }
        });
    }

    function deleteUser(userId) {
        var isConfirmed = confirm("Are you sure you want to delete this user?");

        if (isConfirmed) {
            $.ajax({
                url: '/User/DeleteById',
                type: 'GET',
                data: {
                    UserId: userId
                },
                success: function (response) {

                }
            });
        }
    }

    function selectAllChkbxChangeEvent(thisEvent) {
        $(".actionCheckboxes").each(function () {
            $(this).prop('checked', $(thisEvent).is(":checked"));
        });
    }

    function deleteSelectedUsers() {

        let selectedGuids = [];

        // Loop through checked checkboxes with class 'actionCheckboxes'
        $(".actionCheckboxes:checked").each(function () {
            // Push the checkbox value (assumed to be a GUID string) to the array
            selectedGuids.push($(this).attr('UserId'));
        });

        $.ajax({
            type: "POST",
            url: "/User/deleteUsers", // Change to your actual controller/action method
            data: JSON.stringify(selectedGuids),     // Convert array to JSON format
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response == "-1") {
                    Swal.fire({
                        icon: "error",        // Icon for success message
                        text: "Something went wrong",  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 10000,
                    });
                } else if (response) {
                    Swal.fire({
                        icon: "warning",        // Icon for success message
                        text: "Other users are reporting to this user you are trying to delete. Users:- " + response,  // Additional text
                        showConfirmButton: true, // Optional: shows a confirm button to close the message
                        timer: 15000,
                    });
                } else {
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert("Error:", error);
            }
        });
    }

</script>