@* @model IEnumerable<Microsoft.AspNetCore.Identity.ApplicationUser> *@
@{
    ViewData["Title"] = "User Management";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title">User <span> Management</span></h1>
                    <button class="btn btn-outline-info text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus"></i> Add New User</button>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="search" class="form-control" placeholder="Search here" style="width:250px;" />
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary text-white text-center text-nowrap">
                                <tr>
                                    <th><b>User Code</b></th>
                                    <th><b>Full Name</b></th>
                                    <th><b>Email</b></th>
                                    <th><b>Reporting manager</b></th>
                                    <th><b>Branch</b></th>
                                    <th><b>Department</b></th>
                                    <th><b>Country</b></th>
                                    <th><b>Mobile Number</b></th>
                                    <th><b>Active Status</b></th>
                                    <th><b>Vocation Mode On</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                                @foreach (var user in Model)
                                    {
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">@user.Email</td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">@user.PhoneNumber</td>
                                                        <td class="text-center">@(user.IsActive ? "Active" : "InActive")</td>
                                                        <td class="text-center">@(user.IsVocationModeOn?"Yes":"No")</td>
                                                        <td class="text-center">
                                                            <a title="View" class="btn btn-dark" onclick="GetUserById('@user.Id');" data-bs-toggle="modal" data-bs-target="#viewModal">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            <a title="Edit" class="btn btn-primary" onclick="GetUserById('@user.Id');" data-bs-toggle="modal" data-bs-target="#editModal">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                          
                                                        </td>
                                                    </tr>
                                        index++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @* Modal *@

<!-- Add User -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:100%;max-width:768px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post">
                    <div class="row">
                            <div class="form-group col-md-6 mt-2">
                            <label>Full Name <span class="text-danger fw-bold">*</span></label>
                            <input type="email" class="form-control mt-2 fullName" name="FullName" placeholder="Dawn C. Carlson" />
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Email <span class="text-danger fw-bold">*</span></label>
                                <input type="email" class="form-control mt-2 userName" name="Username" placeholder="example@gmail.com"/>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Role/Position <span class="text-danger fw-bold">*</span></label>
                                <select class="form-select mt-2 roleSelect" name="Role">
                                </select>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Reporting Manager <span class="text-danger fw-bold">*</span></label>
                                <select class="form-select mt-2 reportingManagerContainer" name="Role">
                                </select>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Branch <span class="text-danger fw-bold">*</span></label>
                                <select class="form-select mt-2 branchContainer" name="Role">
                                </select>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Department <span class="text-danger fw-bold">*</span></label>
                                <select class="form-select mt-2 departmentContainer">
                                </select>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Country <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select mt-2 CountryContainer">
                            </select>
                            </div>
                            <div class="form-group col-md-6 mt-2">
                            <label>Mobile Number <span class="text-danger fw-bold">*</span></label>
                                <input type="text" class="form-control mt-2 phoneNumber" name="PhoneNumber" placeholder="123-456-7890" />
                            </div>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-primary" onclick="addUser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- View User -> User detail Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">View details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content will be populated here -->
            </div>
        </div>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="eidtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eidtModalLabel">Edit User details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    getDepartmentList();
    getRols();
    getAllBranch();
    getCountryList();
    getReportingMangers()

    function getDepartmentList() {
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "DEPARTMENTS" },
            success: function (res) {
                let data = `
                          <option value=''>Select</option>  
                          ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                    `;
                $(".departmentContainer").append(data);
            }
        });
    }

    function getAllBranch() {
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "BRANCH" },
            success: function (res) {
                let data = `
                              <option value=''>Select</option>
                              ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                        `;
                $(".branchContainer").append(data);
            }
        });
    }

    function getRols() {
        $.ajax({
            url: '/AppRoles/GetRoles',
            type: 'GET',
            dataType: "json",
            success: function (res) {
                let data = `
                               <option value=''>Select</option>
                               ${res.map(option => `<option value='${option.id}'>${option.name}</option>`)}
                            `;
                $('.roleSelect').append(data);
            }
        });
    }

    function getReportingMangers() {
        $.ajax({
            url: '/User/GetReportingManagers',
            type: 'GET',
            dataType: "json",
            success: function (res) {
                let data = `
                                <option value=''>Select</option>
                                ${res.map(option => `<option value='${option.id}'>${option.email}</option>`)}
                           `;
                $(".reportingManagerContainer").append(data);
            }
        });
    }

    function getCountryList() {
        let SupplierCountryContainer = $("#SupplierCountryContainer");
        $.ajax({
            url: '/DropdownList/GetDropdownByName',
            type: 'GET',
            data: { name: "COUNTRY" },
            success: function (res) {
                let data = `
                                  <option value='' selected>Select</option>
                                  ${res.values.map(option => `<option value='${option.id}'>${option.value}</option>`)}
                            `;
                $(".CountryContainer").append(data);
            }
        });
    }

    //User detail - GetUserById
    function GetUserById(Id) {
        //GetRols()
        $.ajax({
            url: '/User/GetUserById',
            type: 'GET',
            data: { userId: Id },
            success: function (resultData) {
                const modalBody = `
                    <p><strong>Username:</strong> ${resultData.userName}</p>
                    <p><strong>Email:</strong> ${resultData.email}</p>
                    <p><strong>Phone Number:</strong> ${resultData.phoneNumber}</p>
                    <p><strong>Approved:</strong> ${resultData.isApproved ? '<span class="text-success">Approved</span>' : '<span class="text-danger">Not Approved</span>'}</p>
                `;
                editDetail(resultData);
                $('#viewModal .modal-body').html(modalBody);
            }
        });
    }

    function editDetail(result) {
         const modalBody = `
                    <form id='editFormValues'>
                        <input type="hidden" name="userId" id="userId" value='${result.id}' />
                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="email" class="form-control mt-2" name="Username" id="userName" value='${result.userName}' placeholder="example@gmail.com" />
                                </div>
                                <div class="form-group my-2">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control mt-2" name="PhoneNumber" id="phoneNumber" value="${result.phoneNumber}" placeholder="123-456-7890" />
                                </div>
                                <div class="form-group my-2">
                                    <label>Role</label>
                                            <select class="form-control mt-2 roleSelect"  name="Role">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="updateUser();">Submit</button>
                        </div>
                    </form>
                `;
                $('#editModal .modal-body').html(modalBody);
    }

    //Update user funtion
    function addUser() {
        let id = $('#addForm .userId').val();
        let fullName = $('#addForm .fullName').val();
        let userName = $('#addForm .userName').val();
        let phoneNumber = $('#addForm .phoneNumber').val();
        let departmentId = $('#addForm .departmentContainer').val();
        let branchId = $('#addForm .branchContainer').val();
        let reportingManagerId = $('#addForm .reportingManagerContainer').val();
        let countryId = $('#addForm .CountryContainer').val();
        let roleId = $('#addForm .roleSelect').val();
        $.ajax({
            url: '/User/AddNewUser',
            type: 'POST',
            data: { 
                fullName: fullName,
                userName: userName,
                phoneNumber: phoneNumber,
                departmentId : departmentId,
                branchId: branchId,
                reportingManagerId: reportingManagerId,
                countryId: countryId,
                roleId: roleId
            },
            success: function (resp) {
                window.location.reload();
            }
        });
    }

</script>