@model Zenith.BLL.DTO.GetUserListDTO
@{
    ViewData["Title"] = "View user detail";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title">User <span> Profile detail</span></h1>
                    <button class="btn btn-outline-info text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-pencil-alt"></i> Edit Profile</button>
                </div>

                <!-- Add User -->
                <div class="" id="">
                    <div class="modal-dialog" style="width:100%;max-width:1000px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">View profile detail</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <!-- Full Name -->
                                    <div class="form-gromy-2 col-md-6 my-2">
                                        <label>Full Name: </label>
                                        <span class="text-black-50">@Model.FullName</span>
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Email: </label>
                                        <span class="text-black-50">@Model.Email</span>
                                    </div>

                                    <!-- Role/Position -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Role/Position: </label>
                                        <span class="text-black-50"></span>
                                    </div>

                                    <!-- Reporting Manager -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Reporting Manager: </label>
                                        <span class="text-black-50"></span>
                                    </div>

                                    <!-- Branch -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Branch: </label>
                                        <span class="text-black-50">@Model.Branch.Value</span>
                                    </div>

                                    <!-- Department -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Department: </label>
                                        <span class="text-black-50">@Model.DropdownValues_Department.Value</span>
                                    </div>

                                    <!-- Country -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Country: </label>
                                        <span class="text-black-50">@Model.Country.Value</span>
                                    </div>

                                    <!-- Mobile Number -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Mobile Number: </label>
                                        <span class="text-black-50">@Model.PhoneNumber</span>
                                    </div>
                                    <!-- Active status -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>Status: </label>
                                        <span class="text-black-50"> @(Model.IsVocationModeOn ? "Active" : "Inactive") </span>
                                    </div>
                                    <!-- IsVocationModeOn  -->
                                    <div class="form-group col-md-6 my-2">
                                        <label>VocationMode: </label>
                                        <span class="text-black-50"> @(Model.IsVocationModeOn ? "Yes" : "No") </span>
                                    </div>
                                </div>

                                @* <form id="editForm" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Full Name <span class="text-danger fw-bold">*</span></label>
                                            <input type="email" class="form-control mt-2 fullName" name="FullName" value="" placeholder="Dawn C. Carlson" />
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Email <span class="text-danger fw-bold">*</span></label>
                                            <input type="email" class="form-control mt-2 userName" name="Username" placeholder="example@gmail.com" />
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Role/Position <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 roleSelect" name="Role">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Reporting Manager <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 reportingManagerContainer" name="Role">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Branch <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 branchContainer" name="Role">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Department <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 departmentContainer">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Country <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 CountryContainer">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Mobile Number <span class="text-danger fw-bold">*</span></label>
                                            <input type="text" class="form-control mt-2 phoneNumber" name="PhoneNumber" placeholder="123-456-7890" />
                                        </div>
                                    </div>
                                    <div class="modal-footer mt-3">
                                        <button type="button" class="btn btn-primary" onclick="addUser()">Submit</button>
                                    </div>
                                </form> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

</script>
