@model Zenith.BLL.DTO.GetUserListDTO
@{
    ViewData["Title"] = "View user detail";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title">User <span> Profile detail</span></h1>
                    <div>
                        <button class="btn btn-outline-info text-dark" id="showEditModeBTN" onclick="showEditMode()"><i class="fas fa-pencil-alt"></i> Edit Profile</button>
                        <button type="button" class="btn btn-primary" id="hideSaveBTN" onclick="updateUser()">Save</button>
                        <button type="button" class="btn secondary-outline" id="hideEditModeBTN" onclick="hideEditMode()">View</button>
                    </div>
                </div>

                <!-- Add User -->
                <div class="" id="">
                    <div class="modal-dialog" style="width:100%;max-width:1000px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">View profile detail</h5>
                            </div>
                            <div class="modal-body">                                
                                <form id="editMode" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Full Name <span class="text-danger fw-bold">*</span></label>
                                            <input type="text" onblur="isInputText(this.value,true,'requiredMsg')" class="form-control mt-2 fullName" name="FullName" value="@Model.FullName" placeholder="Dawn C. Carlson" />
                                            <span class="text-danger" id="requiredMsg" style="display:none">Please enter this field</span>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Email <span class="text-danger fw-bold">*</span></label>
                                            <input type="email" onblur="isValidEmail(this.value,true,'invalidErrorMessage')" class="form-control mt-2 userName" name="Username" value="@Model.Email" placeholder="example@gmail.com" />
                                            <span class="text-danger" id="invalidErrorMessage" style="display:none">Please enter valid email</span>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Role/Position <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 roleSelect" name="Role">
                                                @if (ViewBag.roles != null)
                                                {
                                                    <option value="" selected>Select</option>
                                                    foreach (var c in ViewBag.roles)
                                                    {
                                                        <option value="@c.Id">@c.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Reporting Manager <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 reportingManagerContainer" name="Role">
                                                @if (ViewBag.reportingManager != null)
                                                {
                                                    <option value="" selected>Select</option>
                                                    foreach (var c in ViewBag.reportingManager)
                                                    {
                                                       <option value='@c.Id' selected="@Model.ReportingManagerId == @c.Id">@c.Email</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Branch <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 branchContainer" name="Role">
                                                @if (ViewBag.branch != null)
                                                {
                                                    <option value="" selected>Select</option>
                                                    foreach (var c in ViewBag.branch.Values)
                                                    {
                                                        <option value="@c.Id" selected="@Model.BranchId == @c.Id">@c.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Department <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 departmentContainer">
                                                @if (ViewBag.department != null)
                                                {
                                                    <option value="" selected>Select</option>
                                                    foreach (var c in ViewBag.department.Values)
                                                    {
                                                        <option value="@c.Id" selected="@Model.DepartmentId == @c.Id">@c.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Country <span class="text-danger fw-bold">*</span></label>
                                            <select class="form-select mt-2 CountryContainer">
                                                @if (ViewBag.country != null)
                                                {
                                                    <option value="" selected>Select</option>
                                                    foreach (var c in ViewBag.country.Values)
                                                    {
                                                        <option value="@c.Id" selected="@Model.CountryId == @c.Id">@c.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mt-2">
                                            <label>Mobile Number <span class="text-danger fw-bold">*</span></label>
                                            <input type="text" class="form-control mt-2 phoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="123-456-7890" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/common.js"></script>

<script>
    $("#hideEditModeBTN").hide();
    $("#hideSaveBTN").hide();
    formEnable(true);

    function showEditMode() {
        $("#hideEditModeBTN").show();
        $("#hideSaveBTN").show();
        $("#showEditModeBTN").hide();
        formEnable(false);
    }

    function hideEditMode() {
        $("#hideEditModeBTN").hide();
        $("#hideSaveBTN").hide();
        $("#showEditModeBTN").show();
        formEnable(true);
    }

    //Update user funtion
    function updateUser() {
        let id = $('#editMode .userId').val();
        let fullName = $('#editMode .fullName').val();
        let userName = $('#editMode .userName').val();
        let phoneNumber = $('#editMode .phoneNumber').val();
        let departmentId = $('#editMode .departmentContainer').val();
        let branchId = $('#editMode .branchContainer').val();
        let reportingManagerId = $('#editMode .reportingManagerContainer').val();
        let countryId = $('#editMode .CountryContainer').val();
        let roleId = $('#editMode .roleSelect').val();

        if (!isValidEmail(userName, true, 'invalidErrorMessage'))
            return false;


        $.ajax({
            url: '/User/UpdateUser',
            type: 'POST',
            data: {
                fullName: fullName,
                userName: userName,
                phoneNumber: phoneNumber,
                departmentId: departmentId,
                branchId: branchId,
                reportingManagerId: reportingManagerId,
                countryId: countryId,
                roleId: roleId
            },
            success: function (resp) {
                window.location.reload();
            }
        });
    }

    function formEnable(bool) {
        document.getElementById('editMode').querySelectorAll('input, select, textarea').forEach(function (element) {
            element.disabled = bool;
        });
    }
</script>
